<!DOCTYPE html>
<html lang="ru|en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/logo.png" />
    <link href="css/styles.css" rel="stylesheet">
    <title>ITcompressor</title>
</head>

<body id='ng-app' ng-app="core-app" ng-controller="CoreController">

    <div ng-show="{{ false }}">
        На сайте вы найдете:
        [<b>docker,containers,virtualization,install,hello world,docker-compose</b>] Install docker, docker-compose.
        Basic docker commands. Удаление старой версии докера, установка новой с запуском хелоуворлда + докер-компос.
        Основные команды для докера.Пример создание собственного докер имейджа, а также публикация его на докер
        хаб,[<b>samba,skype,snap,bash-completion,autologin,autostart</b>] Autologin, disable guest session, scripts for
        autorun, autocomplete in terminal. Install net-tools (ifconfig), samba, skype Автологин, отключение сессии
        гостя, скрипты для автозагрузки, автодоплонение команд в терминале. Установка net-tools (ifconfig), samba,
        skype,[<b>web,gf3,gf5,java ee,server</b>] Basic info about popular web-application server Базовая информация для
        работы с сервером приложений,[<b>ssh,generate ssh,scp,tunel,forwarding,port</b>] How use ssh. Port forwarding
        and etc Использование ssh, добавление ключей,[<b>disable apps,android,fastboot,hosts,autostart,autorun,adb,ban
            ip</b>] Basic commands and tricks for android. Собранны команды выполняемые через приложение Телефон (Phone)
        на Android устройствах. Работа с adb (Android Debug Bridge) и fastboot.Монтирование для записи system раздела.
        Редактирование автозагрузки.,[<b>file metadata,binary,RCE(Remote Code Execution),LFI(Local File Inclusion)</b>]
        Some tricks for CTF and another hacking. Наборы команд, RCE(Remote Code Execution), LFI(Local File Inclusion) и
        наблюдений для взлома, просмотр и редактирование файлов в бинармно
        виде.,[<b>bash,terminal,bash-completion,filesize du</b>] Basic utils in unix OS (MacOS, Linux, Android). Add
        folder with scripts in bash path + autocomplete bash Общие команды присущие unix совместимх ОС: Android, Linux,
        MacOS. Добавление папки с исполняемыми файлами для баш +автокомплит баша.,[<b>revert reset hard</b>] undefined
        Полезности для гит + основные команды,[<b>update-alternatives,pip,python,wine,run win32
            apps,sdkman,gnome-shell,insomnia,desktop</b>] undefined Установка gnome shell (графическая оболочка), wine
        (для запуска виндовс игр и приложений), insomnia (аналог postman), sdkman для управления версиями утилит, pip
        для python и т.д.,[<b>automount,cron,adduser,recursively
            find,watch,tail,rar,chmod,chown,hosts,dd,ntfs,zip,fstab,df,zerofree,ext4,smb</b>] undefined Автомонтирование
        разделов, просмотр процессов, информации о свободном месте на дисках. Шифрование файлов, подключение к VPN,
        работа с cron, добавление пользователей, редактирование их прав, утилита dd, пример создания ссылок, создания
        архивов, изменение владельцов файлов, использование утилиты find и многое другое,[<b>camera,html5</b>] undefined
        Пример использование камеры в браузере + ссылка на демо внутри,[<b>screen,mutlisessions</b>] undefined Нужна для
        параллельной работы с другими утилитами в консоли. Например нужно запустить сервер(просматривать его лог) и в
        тоже время смотреть нагрузку машины.,[<b>backup,index,unsafe,duplicates,permissions</b>] undefined Пимеры
        запросов (также выполнение небезопасных запросов), работа с джоинами, работа с пользователями мускула. Работа с
        бэкапами мускула.,[<b>brutespray,hacking,nmap,ssh..</b>] undefined Пример брута паролей для различных сервисов с
        помощью утилиты brutespray. Весь материал предназначен СУГУБО ДЛЯ ОЗНАКОМИТЕЛЬНЫХ ЦЕЛЕЙ.,[<b>grep,ls,поиск</b>]
        undefined Утилита grep это вполне возможно самая популярная из существующих команд в Unix/Linux. Многие бы с
        этим поспорили, но стоит начать использовать grep, эта команда будет присутствовать почти во всех ваших скриптах
        для консоли Linux. grep расшифровывается как ‘global regular expression printer‘.Иными словами grep выдрезает
        нужные вам строки из текстовых файлов которые содержат указаный пользователем
        текст.,[<b>letsencrypt,certificates,https,ssl,nginx</b>] undefined Конфиг https для nginx для платного
        кастомного сертификата. Плюс настройка бесплатного летсэнкрипт.,[<b>loader,grub</b>] undefined Алгоритм
        восстановления груб на линукс (например после установки винды),[<b>vnc,remote,desktop,linux</b>] undefined
        Поднятие внс сервера на линуксе (удаленый гуи\рабочий стол),[<b>vnc,remote desktop,macOS</b>] undefined Кастом и
        настройка среды для MacOS,[<b>rabbitmq,events,event bus</b>] undefined RabbitMQ — платформа, реализующая систему
        обмена сообщениями между компонентами программной системы (Message Oriented Middleware) на основе стандарта AMQP
        (Advanced Message Queuing Protocol). RabbitMQ выпускается под Mozilla Public
        License.,[<b>jdk,jstack,maven,jmap</b>] undefined Полезности для java. Получения дампа процесса java. Работа с
        мавеном. Установка кастомных либ.,[<b>map,reduce,aggregation,sort,select,query,index,profiler,nosql</b>]
        undefined Примеры запросов, апдейтов, сортировка, настройка профайлинга для мониторинга медленных запросов,
        создание индексов, экспорт в файл и импорт из файла, легкая агрегация, примеры работы через консоль и
        тп.,[<b>search,google</b>] undefined Чтобы получать более точные результаты, вы можете использовать в запросах
        специальные символы или слова.Google Поиск обычно не учитывает знаки препинания, не относящиеся к операторам
        поиска.Не добавляйте пробел между словом или символом и поисковым запросом.Подробнее под катом. + часть статьи
        от IT Hack,[<b>vim,editor</b>] undefined Хоткеи и основы консольной идеи вим,[<b>secure,keys,keyserver</b>]
        undefined Генерация и экспорт GPG ключей. Обычно используется для шифрования почты, в моем же случае я
        генерировал GPG ключи, чтобы подписывать ими jar файлы при заливки их в репозитории.,[<b>pptp,openvpn</b>]
        undefined Подключение к VPN в различных ОС в картинках,[<b>regular,expressions,string</b>] undefined Сборка
        полезных регулярных выражений,[<b>Hacking Team,hacking,docs,get started</b>] undefined Интересная история о
        реальном взломе (на английском),[<b>linux,grub,bash,hack</b>] undefined Алгоритм сброса пароля на
        линуксе,[<b>traceroute,nmap,nc,ifconfig,mac,curl,bash,wget,netstat</b>] undefined Примеры использования curl,
        wget, nmap, nc, traceroute. Команда сканирования локальной сети на доступные машины. Сканирование доменов по
        общему сертификату. Изменение mac-адреса. Просмотр текущей активности в сети с помощью
        netstat.,[<b>users,shutdown,utilman,hack</b>] undefined О особенностях винды и специфичных для её
        утилитах,[<b>replication,database,mysql,example,debian8,ubuntu14.04,linux</b>] undefined Делаем реплику mysql бд
        на примере, имеем...,[<b>уровни изоляции,transaction-isolation-level</b>] undefined Общая информация о мускуле,
        уровни изоляции,[<b>Ubuntu 14.04 LTS,Hotspot,Wi-fi</b>] undefined Below I will show you how to use Unity's
        default network manager to create a wireless hotspot with Androiddevices support, tested in 64-bit Ubuntu 1404
        with Nexus 4 and Sumsung Galaxy ace3.,[<b>Ubuntu 14.04 LTS,Ruby 2.2.3,rbenv,bundler</b>] undefined Установка
        окружения для руби,[<b>database,PostgreSQL 9.4,linux</b>] undefined PostgreSQL (произносится «Пост-Грэс-Кью-Эл»)
        — свободная объектно-реляционная система управления базами данных (СУБД).
    </div>

    <div id="center" class="fix-top">
        <div class="container">
            <div ng-show="!isTarget">
                <input type="text" ng-model="search" ng-change="changeSearch(search)" class="form-control search"
                    placeholder="Поиск">

                <div ng-repeat="doc in docs|filter:search| orderBy: '-updated_at':false" class="row">
                    <h1>{{ doc.heading }}</h1>
                    <span ng-repeat="tag in doc.tags">
                        <span class="label label-default">
                            {{ tag }}
                        </span> &nbsp;
                    </span>
                    <span>⌚ {{ doc.updated_at | date:'medium' }}</span>
                    <h4>
                        <b>RU:</b> {{ doc.content_ru }}
                        <br>
                        <b>EN:</b> {{ doc.content_en }}
                    </h4>
                    <span>
                        <span ng-show="doc.external">
                            <a class="btn btn-default" ng-href="{{ doc.external }}" role="button"> Источник &raquo; </a>
                        </span>
                        <span>
                            <button class="btn btn-default" ng-click="clickDoc(doc.full_content, doc.id)"> Подробнее
                                &raquo;</button>
                        </span>
                    </span>
                </div>
                <br>
            </div>
            <div ng-show="isTarget">
                <div class="container">
                    <button class="btn btn-default" ng-click="backDoc()"> Назад</button>
                </div>
                <h4>
                    <b>RU:</b> {{ docContentRu }}
                    <br>
                    <b>EN:</b> {{ docContentEn}}
                </h4>
                <div ng-include="docUrl"></div>
                <div class="container">
                    <button class="btn btn-default" ng-click="backDoc()"> Назад</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="content/content.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter50640967 = new Ya.Metrika2({
                        id: 50640967,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
        console.log(window.contents.map(function (item) { return "[<b>" + item.tags + "</b>] " + item.content_en + " " + item.content_ru }) + "")
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/50640967" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</body>

</html>