<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/logo.png" />
    <link href="css/styles.css" rel="stylesheet">
    <title>ITcompressor</title>
</head>

<body id='ng-app' ng-app="core-app" ng-controller="CoreController">

    <div id="center" class="fix-top">
        <div class="container">
            <div ng-show="!isTarget">
                <input type="text" ng-model="search" ng-change="changeSearch(search)" class="form-control search"
                    placeholder="Search">

                <div ng-repeat="doc in docs|filter:search| orderBy: '-updated_at':false" class="row">
                    <h2>{{ doc.heading }}</h2>
                    <span ng-repeat="tag in doc.tags">
                        <span class="label label-default">
                            {{ tag }}
                        </span> &nbsp;
                    </span>
                    <span>⌚ {{ doc.updated_at | date:'medium' }}</span>
                    <p>
                        <div ng-include="doc.mini_content"></div>
                    </p>
                    <span>
                        <span ng-show="doc.external">
                            <a class="btn btn-default" ng-href="{{ doc.external }}" role="button"> Original &raquo; </a>
                        </span>
                        <span>
                            <button class="btn btn-default" ng-click="clickDoc(doc.full_content, doc.id)"> Ream more
                                &raquo;</a>
                        </span>
                    </span>
                </div>
                <br>
            </div>
            <div ng-show="isTarget">
                <div class="container">
                    <button class="btn btn-default" ng-click="backDoc()"> Back</button>
                </div>
                <div ng-include="docUrl"></div>
                <div class="container">
                    <button class="btn btn-default" ng-click="backDoc()"> Back</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="content/content.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50640967 = new Ya.Metrika2({
                    id:50640967,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50640967" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>